<div class="row">
  <div *ngIf = "fetching" class="jumbotron text-center col-12">
    <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
  </div>
  <div *ngIf = "!fetching" class="col-12">
      <carousel [isAnimated]="true">
        <ng-container *ngFor = "let item of startList">
          <slide>
            <img src="{{imgUrl}}/{{item.image}}" class="img-fluid" alt="first slide" data-aos="flip-left">
          </slide>
        </ng-container>
      </carousel>
  </div>
</div>
<div class="container">
  <div *ngIf = "fetching2" class="jumbotron text-center col-12">
    <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
  </div>
  <br>
  <div *ngIf = "!fetching2" class="row">
    <div class="col-12">
      <div class="card mb-3" id="mainHeader" data-aos="fade-right">
          <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">La Casa Consultora DISAIC ofrece:</h2>
          <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">La Casa Consultora DISAIC ofrece:</h2>
          <p class="m-5"></p>
      </div>
     <div class="card">
      <p class="ml-1 mt-3 text-center">Consultorías,Servicios Técnicos Especializados y Entrenamientos en los siguientes temas:</p>
     </div>
    </div>
    <br>
  </div>
  <br>
  <div *ngIf = "!fetching2" class="row card-group" >
    <div class="col-12 col-md-6 col-xl-3" *ngFor = "let item of startList2; index as i">
      <div data-aos="fade-right" class="card">
        <img *ngIf = "item.image" class="card-img-top" src="{{imgUrl}}/{{item.image}}" alt="Card image cap">
        <div class="card-body bg-light">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href = "{{i+1}}" class=" float-right btn btn-primary">Más detalles</a>
        </div>
      </div>
      <br>
    </div>
  </div>

  <br>
  <br>

  <div *ngIf = "fetching4" class="jumbotron text-center col-12">
    <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
  </div>
  <br>
  <div *ngIf = "!fetching4" class="row">
    <div class="col-12">
      <div class="card mb-2" id="mainHeader" data-aos="fade-right">
        <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">Productos en venta:</h2>
        <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">Productos en venta:</h2>
        <p class="mb-5 mt-4"></p>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf = "!fetching4" class="row card-group" >
    <div class="col-12 col-md-6 col-xl-4" *ngFor = "let item of startList4; index as i">
      <div class="card" data-aos="fade-right">
        <img *ngIf = "item.image" class="card-img-top" src="{{imgUrl}}/{{item.image}}" alt="Card image cap" >
        <div class="card-body bg-light">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
      <br>
    </div>
  </div>

  <br>
  <br>

  <div *ngIf = "fetching3" class="jumbotron text-center col-12">
    <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
  </div>
  <br>
  <div class="jumbotron">
    <div *ngIf = "!fetching3" class="row">
      <div class="col-12">
        <div class="card mb-2" id="mainHeader" data-aos="fade-right">
          <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">¿Por qué elegirnos a nosotros?</h2>
          <h2 style="color:rgb(68, 67, 67)" class="text-center mt-2">¿Por qué elegirnos a nosotros?</h2>
          <p class="mb-5 mt-4"></p>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf = "!fetching3" class="row card-group" >
      <div class="col-12 col-md-6 col-xl-4" *ngFor = "let item of startList3; index as i">
        <div class="card">
          <p class="text-center">
            <br>
            <img *ngIf = "item.image" class="img-fluid" style="width: 20%;" src="{{imgUrl}}/{{item.image}}" alt="Card image cap" data-aos="flip-left">
          </p>
          <hr>
          <div class="card-body text-center bg-light">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <div *ngIf = "fetching5" class="jumbotron text-center col-12">
        <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
      </div>
        <div class="col-12">
          <div class="">
            <hr>
            <h2 style="color: cornflowerblue;" data-aos="zoom-in">ATENDEMOS A TODO EL SECTOR EMPRESARIAL, COOPERATIVAS NO AGROPECUARIA Y TRABAJADORES POR CUENTA
              PROPIA</h2>
            <hr>
          </div>
        </div>
      <div *ngIf = "!fetching5" class="col-12">
          <carousel [isAnimated]="true">
            <ng-container *ngFor = "let item of startList5">
              <slide>
                <img src="{{imgUrl}}/{{item.image}}" class="img-fluid" alt="first slide" data-aos="flip-left">
              </slide>
            </ng-container>
          </carousel>
      </div>
    </div>
  </div>
</div>
<br>
