<div role="document">
  <div>
    <form class="form-horizontal" id="add-form" [formGroup]="editCardForm" (ngSubmit)="onEditFormSubmit()">
      <div class="modal-header">
        <h4 class="modal-title" id="add-modal-label">Editar Elemento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Título</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="titulo" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Descripción</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="descripcion" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Imagen:</label>
          <div *ngIf = "image" class="row">
            <div class="col-2"></div>
            <div class="card col-8">
              <img src="{{imgUrl}}/{{image}}" class="img-fluid" alt="">
            </div>
            <div class="col-2"></div>
          </div>
          <hr>
          <div class="col-sm-10">
            <input type="file" name="image" class="form-control" (change) = "fileEvent($event)"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Pdf:</label>
          <div *ngIf = "pdf" class="row">
            <div class="col-2"></div>
            <div class="card col-8">
              <a href="{{pdfUrl}}/{{pdf}}">Abrir</a>
            </div>
            <div class="col-2"></div>
          </div>
          <hr>
          <div class="col-sm-10">
            <input type="file" name="image" class="form-control" (change) = "fileEventPdf($event)"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled] = "editCardForm.invalid">Editar</button>
      </div>
    </form>
  </div>
</div>
