<br>
<div class="row">
  <div class="col-12 col-md-6">
    <form action="" #authForm = "ngForm" (ngSubmit) = "onSubmit(authForm)" *ngIf = "!fetching">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email>
        <div *ngIf="authForm.controls['email'].invalid && (authForm.controls['email'].dirty || authForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="authForm.controls['email'].errors.required">
              <p>El nombre es obligatorio</p>
            </div>
            <div *ngIf="authForm.controls['email'].errors.email">
              <p>Tiene que escribir una dirección de correo válida</p>
            </div>
        </div>
      </div>


      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control"  ngModel name="password" required minlength = "6">
        <div *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)" class="alert alert-danger">
            <div *ngIf="authForm.controls['password'].errors.required">
              <p>Tiene que escribir una su contraseña</p>
            </div>
            <div *ngIf="authForm.controls['password'].errors.minlength">
              <p>La contraseña debe tener al menos 6 caracteres</p>
            </div>
        </div>
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled] = "!authForm.valid">{{isLoginMode ? 'Entrar' : 'Sign Up'}}</button>
        <!-- <button class="btn btn-primary" type="button" (click) = "onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button> -->
      </div>
    </form>
  </div>
</div>
<br>


<div class="jumbotron text-center col-12" *ngIf = "fetching">
  <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
</div>
