
<div class="row">
  <div class="col-12 mb-5">
    <h2 class="jumbotron text center">Barra superior de navegación:</h2>
    <button class="btn mb-1 btn-primary mr-2" routerLink = "homeAdmin" routerLinkActive = "bg-danger">Inicio</button>
    <button class="btn mb-1 btn-primary mr-2" routerLink = "whoAdmin" routerLinkActive = "bg-danger">Quiénes somos?</button>
    <button class="btn mb-1 btn-primary mr-2" routerLink = "contactAdmin" routerLinkActive = "bg-danger">Contactos</button>
    <hr>
  </div>
  <div class="col-12 mb-5">
    <h2 class="jumbotron text center">Barra Lateral de navegación:</h2>
    <button class="btn mb-1 btn-primary mr-2" routerLink = "temaAdmin" routerLinkActive = "bg-danger">Temas</button>
    <button class="btn mb-1 btn-primary" routerLink = "carouselTema" routerLinkActive = "bg-danger">Carousel Temas</button>
    <hr>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
<br>
