<div class="row">
  <div class="col-12">
    <span (click)="addImage('promoUICI')" class="btn btn-primary btn-xs">Crear primer carousel</span>
    <br /><br />
    <div class="table-responsive">
      <div *ngIf = "fetching" class="jumbotron text-center col-12">
        <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
      </div>
      <table *ngIf = "!fetching" id="mytable" class="table table-bordred table-striped">
        <thead>
          <th>Id</th>
          <th>Imagenes</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of returnedArray">
            <td>{{item.id}}</td>
            <td><img src="{{imgUrl}}/{{item.image}}" class="fluid-img" style="width: 40%;" alt=""></td>
            <td><span class="btn btn-primary btn-xs" (click)="editImage(item.id, item.image, 'promoUICI')">
              <i style="color: white;" class="fa fa-edit"></i></span></td>
            <td><span class="btn btn-danger btn-xs" (click)="deleteImage(item.id, item.image, 'promoUICI')">
              <i style="color: white;" class="fa fa-trash"></i>
            </span></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12">
        <pagination [totalItems]="startList.length" [itemsPerPage] = "itemsPerPage"  (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <div class="col-12">
        <label for="location1" class="col-form-label">Elementos por Página</label>
        <select class="form-control" (change)="selectedItemsPerPage($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col-12">
    <span (click) = "addCard('promoCard')" class="btn btn-primary btn-xs">Crear Card Promocion</span>
    <br /><br />
    <div class="table-responsive">
      <div class="jumbotron text-center" *ngIf = "fetching2">
        <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
      </div>
      <table *ngIf = "!fetching2" id="mytable" class="table table-bordred table-striped">
        <thead>
          <th>Id</th>
          <th>Títulos</th>
          <th>Imagenes</th>
          <th>Descripciones</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of returnedArray2">
            <td>{{item.id}}</td>
            <td>{{ item.title }}</td>
            <td *ngIf = "!item.description">No Description</td>
            <td *ngIf = "item.description">{{item.description}}</td>
            <td *ngIf = "!item.image">No Image</td>
            <td *ngIf = "item.image"><img src="{{imgUrl}}/{{item.image}}" class="fluid-img" style="width: 40%;" alt=""></td>
            <td><span class="btn btn-primary btn-xs" (click)="editCard(item.id,item.title, item.description, item.image, 'promoCard')">
              <i style="color: white;" class="fa fa-edit"></i></span></td>
            <td><span class="btn btn-danger btn-xs" (click)="deleteCard(item.id,item.title, item.description, 'promoCard')">
              <i style="color: white;" class="fa fa-trash"></i>
            </span></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12">
        <pagination [totalItems]="startList2.length" [itemsPerPage] = "itemsPerPage2"  (pageChanged)="pageChanged2($event)"></pagination>
        </div>
        <div class="col-12">
        <label for="location1" class="col-form-label">Elementos por Página</label>
        <select class="form-control" (change)="selectedItemsPerPage2($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col-12">
    <span (click) = "addCardPdf('boletinCard')" class="btn btn-primary btn-xs">Crear Boletin</span>
    <br /><br />
    <div class="table-responsive">
      <div class="jumbotron text-center" *ngIf = "fetching3">
        <i style="color: blue;" class="p-2 fa fa-spinner animated faa-spin fa-4x"></i>
      </div>
      <table *ngIf = "!fetching3" id="mytable" class="table table-bordred table-striped">
        <thead>
          <th>Id</th>
          <th>Títulos</th>
          <th>Descripciones</th>
          <th>Imagenes</th>
          <th>PDF</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of returnedArray3">
            <td>{{item.id}}</td>
            <td>{{ item.title }}</td>
            <td *ngIf = "!item.description">No Description</td>
            <td *ngIf = "item.description">{{item.description}}</td>
            <td *ngIf = "!item.image">No Image</td>
            <td *ngIf = "item.image"><img src="{{imgUrl}}/{{item.image}}" class="fluid-img" style="width: 40%;" alt=""></td>
            <td *ngIf = "!item.pdf">No PDF</td>
            <td *ngIf = "item.pdf"><a href="{{pdfUrl}}/{{item.pdf}}">Abrir</a></td>
            <td><span class="btn btn-primary btn-xs" (click)="editCardPdf(item.id,item.title, item.description, item.image, item.pdf , 'boletinCard')">
              <i style="color: white;" class="fa fa-edit"></i></span></td>
            <td><span class="btn btn-danger btn-xs" (click)="deleteCardPdf(item.id,item.title, item.description, 'boletinCard')">
              <i style="color: white;" class="fa fa-trash"></i>
            </span></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12">
        <pagination [totalItems]="startList3.length" [itemsPerPage] = "itemsPerPage3"  (pageChanged)="pageChanged3($event)"></pagination>
        </div>
        <div class="col-12">
        <label for="location1" class="col-form-label">Elementos por Página</label>
        <select class="form-control" (change)="selectedItemsPerPage3($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        </div>
      </div>
    </div>
  </div>
</div>
